                                                              assignment

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
l = [1,2,3,4,5,6,'rajiv','kumar',33.34,3+7j,True,(7,8,9)]

In [2]:
l

[1, 2, 3, 4, 5, 6, 'rajiv', 'kumar', 33.34, (3+7j), True, (7, 8, 9)]

In [3]:
type(l)

list

In [5]:
l[6]

'rajiv'

In [6]:
type(l[6])

str

In [8]:
l[8]

33.34

In [9]:
type(l[8])

float

In [10]:
l[11]

(7, 8, 9)

In [11]:
type(l[11])

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [13]:
var1 = "sonu"

In [14]:
type(var1)

str

In [15]:
var2 = '[ DS, ML, python]'

In [16]:
type(var2)

str

In [17]:
var3 = [ 'DS', 'ML','python']

In [18]:
type(var3)

list

In [19]:
var = 1.

In [20]:
type(var)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [21]:
a = 6
b = 3

In [22]:
r = 6/3

In [23]:
a = 8
b = 3

In [24]:
r = 8%3

In [25]:
a = 12
b = 3

In [26]:
r= 12//3

In [27]:
a = 3
b = 2

In [28]:
r = 2**3

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l = [2,3,4,5,'rajiv','sonu',33.34,3+6j,True,(6,7,8)]

In [32]:
l

[2, 3, 4, 5, 'rajiv', 'sonu', 33.34, (3+6j), True, (6, 7, 8)]

In [38]:
for i in l :
    print('i :', i)
    print('data type :', type(i))
    print()

i : 2
data type : <class 'int'>

i : 3
data type : <class 'int'>

i : 4
data type : <class 'int'>

i : 5
data type : <class 'int'>

i : rajiv
data type : <class 'str'>

i : sonu
data type : <class 'str'>

i : 33.34
data type : <class 'float'>

i : (3+6j)
data type : <class 'complex'>

i : True
data type : <class 'bool'>

i : (6, 7, 8)
data type : <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [42]:
a = 8
b = 2

count = 0
while a % b == 0 :
    a = a/b
    count += 1
print("nummber of times", b, "divides", a, "is",count)

nummber of times 2 divides 1.0 is 3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [45]:
l = [2,4,6,8,10,12,14,16,18,20,22,24,26,28,3,5,7,9,1,13,17,19,9,11,23,27]

In [46]:
for i in l :
    if i % 3 == 0:
        print( i,"is divisible by 3")
    else:
        print( i, "is not divisible by 3")

2 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
10 is not divisible by 3
12 is divisible by 3
14 is not divisible by 3
16 is not divisible by 3
18 is divisible by 3
20 is not divisible by 3
22 is not divisible by 3
24 is divisible by 3
26 is not divisible by 3
28 is not divisible by 3
3 is divisible by 3
5 is not divisible by 3
7 is not divisible by 3
9 is divisible by 3
1 is not divisible by 3
13 is not divisible by 3
17 is not divisible by 3
19 is not divisible by 3
9 is divisible by 3
11 is not divisible by 3
23 is not divisible by 3
27 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

# immutable data types are those whose values cannot be modified once they are created.
# Any operation that appears to modify an immutable data type actually creates a new value.

# mutable data types are those that can be modified after they are created.
# Operations on mutable data types can directly modify the value without creating a new object.

immuatable

In [47]:
string = "Hello"
print(string)  # Output: Hello

string = string + " World"
print(string)

Hello
Hello World

mutable